
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
#weights/*.weights
__pycache__
checkpoints
.vscode
get-pip.py
data
Visualization tool.ipynb
Visualization tool-checkpoint.ipynb
logs
data
download.png
logs_old
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
config
config/real.data
*.ipynb