
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
#weights/*.weights
__pycache__
checkpoints
.vscode
get-pip.py
data
logs
data/test
download.png
logs_old
.ipynb_checkpoints/Untitled-checkpoint.ipynb
config/real.data
