
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
#weights/*.weights
__pycache__
checkpoints
.vscode
get-pip.py
logs/*
data/test
data/custom/images
data/custom/labels
data/fes/images
data/fes/labels
data/DST/images
data/DST/labels
download.png
logs_old
.ipynb_checkpoints/Untitled-checkpoint.ipynb
config/real.data
data/*
config
output/*
config/dst.data
config/*
config/custom.data
*.ipynb
.ipynb_checkpoints/Visualization tool-checkpoint.ipynb
testing_script.py
